<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.joker.lock">

  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

  <application
    android:allowBackup="false"
    android:icon="@drawable/ic_launcher"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <receiver
      android:name=".LockScreenReceiver"
      android:enabled="true"
      android:exported="false">
    </receiver>

    <service
      android:name=".MusicService"
      android:enabled="true"
      android:exported="false">
    </service>

    <activity
      android:name=".LockScreenActivity"
      android:configChanges="orientation"
      android:excludeFromRecents="true"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:showWhenLocked="true"
      android:taskAffinity=":lock"/>

  </application>

</manifest>